$gray: #0f0f0f;
$white: #ffffff;
$black: #000000;
$hoverBTN: #1f1f1f;
$ochre: rgba(164, 141, 50, 0.94);
$lightGray: #c4c4c4;
$backgroundCon: #e5e5e5;

$FontRegularTitle: "PlayfairDisplay-Regular";
$FontRegular: "PTS55F";
