@font-face {
  font-family: PTS55F;
  font-display: swap;
  src: url("../fonts/PTS55F.woff2") format("woff2"),
    url("../fonts/PTS55F.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: PlayfairDisplay-Bold;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: PTS75F;
  font-display: swap;
  src: url("../fonts/PTS75F.woff2") format("woff2"),
    url("../fonts/PTS75F.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: PTS76F;
  font-display: swap;
  src: url("../fonts/PTS76F.woff2") format("woff2"),
    url("../fonts/PTS76F.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: PlayfairDisplay-Regular;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: PTS56F;
  font-display: swap;
  src: url("../fonts/PTS56F.woff2") format("woff2"),
    url("../fonts/PTS56F.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
