.footer.container {
  background-color: $ochre;
  display: flex;
  justify-content: space-around;
  flex-shrink: 0 1 0;
  padding-top: 7%;
  color: #333333;
  position: relative;

  a {
    text-decoration: none;
    color: #333333;
    text-align: left;
    margin-bottom: 15px;
    @include textLinks;
  }
  

  a:hover {
    font-weight: bold;
  }

  .footer-title {
    font-family: $FontRegularTitle;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 1%;
  }
  @media (max-width: 576px) {
    .footer-title {
      display: none;
    }
    .footer-title-line{
      display: none;
    }
  }

  .footer-usefulLinks-links {
    margin-top: 7%;
    padding-inline-start: 0;
    li {
      list-style-type: none;
      text-align: left;
      margin-bottom: 15px;
      @include textLinks;
    }
    
    li:hover {
      font-weight: bold;
    }
  }
  @media (max-width: 576px) {
    .footer-usefulLinks-links{
      margin-top: 0;
      li{
        margin-bottom: 5px;
        font-size: 14px;
      }
      a{
        font-size: 14px;
      }
    }
    li:nth-child(4){
      width: 50%;
    }
  }
  

  .footer-contacts-links {
    margin-top: 7%;
    @include textLinks;

    .footer-contacts-links-item {
      display: flex;
      margin-bottom: 15px;
      .footer-contacts-links-item-label {
        margin-right: 10px;
      }
      
    }
  }
  @media (max-width: 576px) {
    .footer-contacts-links{
      font-size: 14px;
      margin-top: 0;
      .footer-contacts-links-item{
        margin-bottom: 5px;
      }
      a{
        font-size: 14px;
      }
    }
  }
 

  .footer-socialNet {
    display: flex;
    flex-direction: column;
    width: 21%; //?
    .footer-socialNet-descr {
      margin: 7% 0 3%;
      width: 95%; //err
      @include textLinks;
    }
    @media (max-width: 576px) {
      .footer-socialNet-descr{
        display: none;
      }
    }
    
    
    .footer-socialNet-labels {
      display: flex;

      .footer-socialNet-labels-link {
        margin-right: 20px;
      }
      
      .footer-socialNet-labels-link:hover {
        border-bottom: 2px solid #333333;
      }
    }
    @media (max-width: 576px) {
      .footer-socialNet-labels{
        flex-direction: column;
        margin-left: 20%;
      }

    }
  }

 
}
@media (max-width: 576px) {
  .footer.container{
    padding-top: 5%;
  }
}


