.navbar.container {
  background-color: $gray;
  display: flex;
  flex-direction: row;
  flex-grow: 1; //??

  .navbar-logo {
    align-items: center;
    justify-content: center;

    img {
      padding: 1%;
    }
    img:hover {
      background: $hoverBTN;
    }
  }
  @media (max-width: 576px) {
    .navbar-logo img{
      width: 70%;
      padding: 0;
    }
  }
   

  .navbar-logo,
  .navbar-menu {
    display: flex;
    width: 50%;
    color: #969696;
    font-family: $FontRegular;
    font-size: 14px;
  }
  .navbar-menu-mobile{
    display: none;
  }
  @media (max-width: 576px) {
    .navbar-menu-mobile{
      display: flex;
      margin-left: 12%;
      ul{
        display: flex;
        padding-inline-start: 0px;
        margin-block-start: 0;
        margin-block-end: 0;
        list-style-type: none;
        margin-right: 92%;
        li{
          padding: 15%;
          a {
            text-decoration: none;
          }
        }
        li:hover, :active, :focus {
          background: #1f1f1f;
          
        }
      }
      .navbar-menu-search {
        display: flex;
        align-content: center;
        justify-content: center;
    
        .navbar-menu-search-img {
          display: block;
          margin: auto;
        }
      }
    }
  }

  .navbar-menu {
    justify-content: space-around;
  }
  @media (max-width: 576px) {
    .navbar-menu{
     display:none;
    }
  }

  .navbar-menu ul {
    display: flex;
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
    line-height: 18px;

    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
    a {
      color: #969696;
      text-decoration: none;
    }
    a:hover {
      color: $white;
    }
    li {
      // padding: 31px;
      padding: 12% 1em;
    }
    li:hover {
      color: $white;
      background: #1f1f1f;
    }
  }
  .navbar-menu-search {
    display: flex;
    align-content: center;
    justify-content: center;
    // margin-left: 4%;

    .navbar-menu-search-img {
      display: block;
      margin: auto;
      padding-left: 1em;
    }
  }

  @media (max-width: 780px) {
    .navbar-logo {
      width: 25%;
    }
    .navbar-menu {
      width: 65%;
    }
  }
}
@media (max-width: 576px) {
  .navbar.container{
    position: fixed;
    top: 0;
    width: 100%;
  }
}
